* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-inline: 50px;
	margin-block: 20px;
}

.hero__imageContainer {
	width: 175px;
	height: 175px;
	overflow: hidden;
	border-radius: 250px;
	order: -1;
	margin-top: 50px;
}

.hero__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero__resume {
	background-color: #ff6464;
	font-weight: 500;
	font-size: 1.2rem;
	padding: 15px 20px;
	cursor: pointer;
	box-shadow: none;
	border: none;
	color: white;
	margin: 30px;
}

.hero__presentation {
	width: 70%;
	margin: auto;
	margin-block: 20px;
}

@media screen and (width > 750px) {
	.section {
		padding-inline: 45px;
	}

	.hero {
		flex-direction: row;
		justify-content: space-around;
		text-align: start;
	}

	.hero__imageContainer {
		order: 2;
		width: 250px;
		height: 250px;
	}

	.hero__content {
		width: 50%;
	}

	.hero__presentation {
		margin-inline: 0;
		font-size: 2rem;
		width: 100%;
	}

	.hero__resume {
		margin-inline: 0;
	}
}

.posts {
	background-color: #edf7fa;
	padding-block: 20px;
}

.posts__header {
	/*
	display: flex;
	justify-content: space-between;
	*/
	text-align: center;
	padding-bottom: 20px;
}

.posts__header > h2 {
	font-size: 1.3rem;
	font-weight: lighter;
}

.posts__header > button {
	font-size: 1rem;
	font-weight: normal;
	border: none;
	background-color: transparent;
	color: #00a8cc;
	display: none;
}

.posts__item {
	margin-bottom: 20px;
	background-color: #ffffff;
	padding: 20px;
}

.posts__infos {
	display: flex;
	gap: 30px;
	margin-bottom: 20px;
	font-size: 1.2rem;
	align-items: center;
}

.posts__title {
	font-size: 1.8rem;
	margin-bottom: 20px;
}

.posts__container {
	margin-inline: 15px;
}

.posts__abstract {
	font-size: 1rem;
}

@media screen and (width > 1024px) {
	.posts__container {
		display: flex;
		gap: 40px;
		margin-inline: 0;
	}

	.posts__header {
		text-align: start;
	}
}
